.container {
  display: flex;
  justify-content: flex-end;

  .form {
    display: flex;
    flex-direction: column;

    .button {
      display: flex;
      justify-content: flex-end;
    }

    .fields {
      display: flex;
      flex-direction: column;

      .send {
        margin-top: 5px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 5px;
      }
    }
  }
}