.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-row-gap: 10px;

  .header {
    grid-column: 1;
  }

  .content {
    grid-row: 2;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 800px 1fr;
    grid-column-gap: 10px;

    .watchers {
      grid-column: 2;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .control {
      grid-column: 1;
    }
  }
}